//-------------------------------BLOCK-----------------------------------------
.b-project{
    width: 100%;
    min-height: 150vh;
    background: linear-gradient(to right, rgba(10, 10, 10, 0.9), rgba(10, 10, 10, 0.9)), url(../../images/pic1.jpg) no-repeat;
    color: #fff;
}


//-------------------------------ELEMENT-----------------------------------------
.e-project__card{
    // border: 1px solid red;
    width: 40%;

    & h1{
        font-size: 3rem;
    }

    & p{
        font-size: 1.4rem;
    }
}